.footer {
    min-height: 60px;
    padding: 20px 80px;
    margin: 0;
    background: #101010;
    text-align: center;
}

.footer p {
    color: #dedede;
    margin: 5px;
    font-size: 18px;
}

.footer .logo {
    font-size: 19px;
}

@media(max-width:655px) {
    .footer {
        padding: 20px 5px 
    }
}