@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Slab', serif;
}

header {
    height: 120vh;
    background-image: url(/img/background.jpg);
    background-size: cover;
    background-position: center;
}

body {
    background: #191919;
    overflow-x: hidden;
}

.sobre {
    height: 700px;
    width: 100%;
    background-image: url(/img/ferrari_sobre.jpg);
    background-size: cover;
    background-position: center;
}

.titulo-conteudo {
    text-align: center;
    color: white;
}

.titulo-conteudo h3 {
    color: #f90029;
    font-size: 26px;
    margin: 10px;
}

.titulo-conteudo p {
    color: white;
    margin: 0;
    font-size: 20px;
    padding-top: 50px;
}


.sobre-conteudo h4 {
    color: white;
    width: 62%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.sobre-conteudo p {
    color: white;
    margin-top: 30px;
    width: 60%;
    text-align: left;
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
}

.servicos {
    background: #101010;
    width: 100%;
    padding: 80px 0px;
}

.titulo-servicos h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card2 {
    height: 400px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card2 i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f90029;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.texto-servicos p {
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 85px;
}

.card2 .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 22px;
    border-radius: 28px;
    transition: .5s;
}

.card2 .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contato {
    width: 100%;
    height: 320px;
    background-color: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.contato p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
    
}

.social {
    display: flex;
    padding-top: 20px;
}

.social a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 25%;
    margin: 10px 15px;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .4s;
}

.contato h4 {
    color: white;
    font-size: 23px;
    padding-bottom: 10px;
}

.contato .button2 {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}

.contato .button2:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

@media (max-width: 980px) {
    header {
        height: 100vh;
    }

    .sobre-conteudo {
        margin: 0;
    }

    .sobre-conteudo p {
        padding:0;
        margin-left: 5%;
        width: 90%;
        text-align: center;
        font-size: 22px;
    }
    .sobre-conteudo h4 {
        padding: 10px;
        text-align: center;
        left: 0;
        right: 0;
        width: 100%;

    }

    .titulo-servicos h2{
        width: 100vw;
        padding: 20px;
        margin-top: 0;
    }

    .servicos {
        padding: 0;
    }

    .box {
        flex-direction: column;
    }
}

    @media(max-width:690px){
        .sobre {
            height: 850px;
        }

        .sobre-p{
            width: 100%;
            background: rgba(0,0,0,0.5);
        }
    }


    @media(max-width:400px){
        .sobre {
            height: 700px;
        }
}

    
